<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="formSignUp" (ngSubmit)="onSubmit()">
        <label for="taiKhoan">taiKhoan: </label>
        <input id="taiKhoan" type="text" formControlName="taiKhoan" /><br />
        <div
          class="alert alert-danger"
          *ngIf="taiKhoan?.invalid && (taiKhoan?.dirty || taiKhoan?.touched)"
        >
          <div *ngIf="taiKhoan?.errors?.required">vui long nhập tài khoản</div>
        </div>

        <label for="matKhau">matKhau: </label>
        <input id="matKhau" type="text" formControlName="matKhau" /><br />
        <div
          class="alert alert-danger"
          *ngIf="matKhau?.invalid && (matKhau?.dirty || matKhau?.touched)"
        >
          <div *ngIf="matKhau?.errors?.required">vui long nhập mat Khau</div>
        </div>

        <label for="email">email </label>
        <input id="email" type="text" formControlName="email" /><br />
        <div
          class="alert alert-danger"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <div *ngIf="email?.errors?.required">vui long nhập email</div>
          <div *ngIf="email?.errors?.email">email invalid format</div>
        </div>
        <label for="soDt">soDt: </label>
        <input id="soDt" type="text" formControlName="soDt" /><br />
        <div
          class="alert alert-danger"
          *ngIf="soDt?.invalid && (soDt?.dirty || soDt?.touched)"
        >
          <div *ngIf="soDt?.errors?.required">vui long nhập soDt</div>
          <div *ngIf="soDt?.errors?.pattern">soDt invalid format</div>
        </div>
        <label for="hoTen">hoTen: </label>
        <input id="hoTen" type="text" formControlName="hoTen" /><br />
        <div
          class="alert alert-danger"
          *ngIf="hoTen?.invalid && (hoTen?.dirty || hoTen?.touched)"
        >
          <div *ngIf="hoTen?.errors?.required">vui long nhập hoTen</div>
          <div *ngIf="hoTen?.errors?.pattern">hoTen invalid format</div>
        </div>

        <button class="btn btn-danger" [disabled]="!formSignUp.valid">
          submit register
        </button>
      </form>
    </div>
  </div>
</div>
<p>Form Status: {{ formSignUp.status }}</p>
<p>Form valid: {{ formSignUp.valid }}</p>
<p>
  Form data: taiKhoanL: {{ taiKhoan?.value }} - matKhau: {{ matKhau?.value }} -
  email:{{ email?.value }} - hoTen:{{ hoTen?.value }} -soDT: {{ soDt?.value }}
</p>
